<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script th:inline="javascript">
var _contextPath = /*[[${#httpServletRequest.contextPath}]]*/ '';
</script>
<script src="../../webapp/resources/js/controllers.js" th:src="@{/js/controllers.js}"></script>
<title>Products</title>
</head>
<body>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>Products</h1>
			</div>
		</div>
	</section>
	<section class="container" ng-app="cartApp">
		<div class="row">
			<div class="col-md-5">
				<img src="../../webapp/resources/images/P1234.png" th:src="@{/img/{productId}.png(productId=${product.productId})}"
					alt="image" style="width: 100%" />
			</div>

			<div class="col-md-5">
				<h3 th:text="${product.name}">NAME</h3>
				<p th:text="${product.description}">DESCRIPTION</p>
				<p>
					<strong>Item Code</strong> : <span class="label label-warning" th:text="${product.productId}">PRODUCT_ID</span>
				</p>
				<p>
					<strong>manufacturer</strong> : <span th:text="${product.manufacturer}">MANUFACTURER</span>
				</p>
				<p>
					<strong>category</strong> : <span th:text="${product.category}">CATEGORY</span>
				</p>
				<p>
					<strong>Available units in stock</strong> : <span th:text="${product.unitsInStock}">UNITS_IN_STOCK</span>
				</p>
				<h4 th:text="${product.unitPrice} + 'USD'">UNIT_PRICE USD</h4>
				<p ng-controller="cartCtrl">
					<a href="products.html" th:href="@{/market/products}"
						class="btn btn-default"> <span
						class="glyphicon-hand-left glyphicon"></span> back
					</a> <a href="#" class="btn btn-warning btn-large"
						ng-click="addToCart('P1234')" th:attr="ng-click='addToCart(\'' + ${product.productId} + '\')'"> <span
						class="glyphicon-shopping-cart glyphicon"></span> Order Now
					</a> <a href="cart.html" th:href="@{/cart}" class="btn btn-default">
						<span class="glyphicon-hand-right glyphicon"></span> View Cart
					</a>

				</p>
			</div>
		</div>
	</section>
</body>
</html>
