<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="'//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
<title>Products</title>
</head>
<body>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>Products</h1>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="col-md-5">
				<h3 th:text="${product.name}">NAME</h3>
				<p th:text="${product.description}" style="white-space:pre-wrap">DESCRIPTION</p>
				<p>
					<strong>Item Code : </strong><span class="label label-warning" th:text="${product.productId}">PRODUCTID</span>
				</p>
				<p>
					<strong>manufacturer</strong> : <span th:text="${product.manufacturer}">MANUFACTURER</span>
				</p>
				<p>
					<strong>category</strong> : <span th:text="${product.category}">CATEGORY</span>
				</p>
				<p>
					<strong>Availble units in stock </strong> : <span th:text="${product.unitsInStock}">UNITSINSTOCK</span>
				</p>
				<h4 th:text="${product.unitPrice} + ' USD'">UNITPRICE USD</h4>
				<p>
					<a href="products.html" th:href="@{/market/products}"
						class="btn btn-default"> <span
						class="glyphicon-hand-left glyphicon"></span> back
					</a> <a href="#" class="btn btn-warning btn-large"> <span
						class="glyphicon-shopping-cart glyphicon"></span> Order Now
					</a>
				</p>
			</div>
		</div>
	</section>
</body>
</html>
